<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Email template</title>
    <style>
        .header {
            text-align: right;
            padding-bottom: 10px
        }

        body {            
            font-family: arial;
            font-size:12px;
            padding: 10px 0px
        }
    </style>
</head>
<body>
    <div class="header">
        <div>{{Name}}</div>
        <div>{{Email}}</div>
        <div>{{Phone}}</div>
    </div>
    <div style="text-align:justify">{{Message}}</div>
</body>
</html>