.kube {
    float: right; /* или right, если хотите, чтобы изображение было справа */
    margin: 0 0px 0px 0; /* Добавляет отступы вокруг изображения */
}

.kubeleft {
    float: left; /* или right, если хотите, чтобы изображение было справа */
    margin: 0 0px 0px 0; /* Добавляет отступы вокруг изображения */
}


.inner-container.blog-container {
    gap: 20px;
}

.article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}

.article h3 {
    margin: 0 0 8px;
    font-size: 18px;
    color: #333;
}

.content-wrapper {
    height: 86px; /* Fixed height for preview */
    overflow: hidden;
    transition: height 0.3s ease;
}

.article.expanded.content-wrapper {
    height: auto; /* Automatically adjust height for full content */
}

.toggle-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color:#0038FF;
    font-weight: bold;
    cursor: pointer;
}

.toggle-link:hover {
    color: #AAC4F4;
}

h4 { 
    padding:0px;
    margin:0px
}